#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        hmr_l: hmr_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <36 37 38 39 26 27 28 29 30 31 14 15 16 17 18 19 4 5 6 7>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };
        hmr_r: hmr_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 33 34 35 20 21 22 23 24 25 8 9 10 11 12 13 0 1 2 3>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        hmr_l_2: hmr_l_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_L_2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <36 37 38 39 26 27 28 29 30 31 14 15 16 17 18 19 4 5 6 7>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-while-undecided;
        };
        hmr_r_2: hmr_r_2 {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_R_2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 33 34 35 20 21 22 23 24 25 8 9 10 11 12 13 0 1 2 3>
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-while-undecided;
        };

        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold / Tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        td_cp: td_cp {
            compatible = "zmk,behavior-tap-dance";
            label = "Copy / Cut / Paste";
            bindings = <&hold_tap LC(C) LC(X)>, <&kp LC(V)>;

            #binding-cells = <0>;
            tapping-term-ms = <200>;
        };

        td_cd: td_cd {
            compatible = "zmk,behavior-tap-dance";
            bindings = <&kp COMMA>, <&kp KP_DOT>;

            #binding-cells = <0>;
            tapping-term-ms = <200>;
        };

        td_ek: td_ek {
            compatible = "zmk,behavior-tap-dance";
            label = "Eisu / Kana";
            bindings = <&kp LANG2>, <&kp LANG1>;

            #binding-cells = <0>;
            tapping-term-ms = <250>;
        };

        bspc_del: bspc_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC / DEL";
            bindings = <&kp BSPC>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lpar_lt: lpar_lt {
            compatible = "zmk,behavior-mod-morph";
            label = "LPAR / LTHAN";
            bindings = <&kp LPAR>, <&kp LT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };
        rpar_gt: rpar_gt {
            compatible = "zmk,behavior-mod-morph";
            label = "RPAR / GTHAN";
            bindings = <&kp RPAR>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };
        at_hash: at_hash {
            compatible = "zmk,behavior-mod-morph";
            label = "AT / HASH";
            bindings = <&kp AT>, <&kp HASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };

        amps_caret: amps_caret {
            compatible = "zmk,behavior-mod-morph";
            label = "AMPS / CARET";
            bindings = <&kp AMPS>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };
        prcnt_dllr: prcnt_dllr {
            compatible = "zmk,behavior-mod-morph";
            label = "PRCNT / DLLR";
            bindings = <&kp PRCNT>, <&kp DLLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };

        comma_excl: comma_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA / EXCL";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };
        dot_qmark: dot_qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT / QMARK";
            bindings = <&kp DOT>, <&kp QMARK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <0>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_lbkt {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <0 1>;
            bindings = <&kp LBKT>;
        };
        combo_rbkt {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <1 2>;
            bindings = <&kp RBKT>;
        };
        combo_at {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <2 3>;
            bindings = <&at_hash>;
        };

        combo_lpar {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <9 10>;
            bindings = <&lpar_lt>;
        };
        combo_rpar {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <10 11>;
            bindings = <&rpar_gt>;
        };
        combo_fslh {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <11 12>;
            bindings = <&kp FSLH>;
        };

        combo_sqt {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <4 5>;
            bindings = <&kp SQT>;
        };
        combo_amps {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <5 6>;
            bindings = <&amps_caret>;
        };
        combo_prcnt {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <6 7>;
            bindings = <&prcnt_dllr>;
        };

        combo_minus {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <15 16>;
            bindings = <&kp MINUS>;
        };
        combo_comma {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <16 17>;
            bindings = <&comma_excl>;
        };
        combo_dot {
            timeout-ms = <60>;
            layers = <0>;
            key-positions = <17 18>;
            bindings = <&dot_qmark>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // template {
            //     bindings = <
            //                &trans &trans &trans &trans        /**/        &trans &trans &trans &trans
            //         &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans
            //         &trans &trans &trans &trans &trans &trans /**/ &trans &trans &trans &trans &trans &trans
            //         &trans        &trans &trans &trans        /**/        &trans &trans &trans        &trans
            //     >;
        // };

        default_layer {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            //         |   L   |   U   |   F   |   ;   |/*----------------*/|  ESC  |   W   |   R   |   Y   |
            // |   Q   |   I   |   A   |   O   |   `   | C+A+D |/**/| PSCRN |   K   |   T   |   N   |   S   |   P   |
            // |   E   |   X   |   C   |   V   |   \   | td_cp |/**/|       |   G   |   D   |   M   |   J   |   H   |
            // |   Z   |/*---*/|  MO4  | ENTER | BSPC  |/*----------------*/|  TAB  | SPACE | LANG  |/*---*/|   B   |


            bindings = <
                              &kp L         &kp U          &kp F          &kp SEMI                  /**/           &kp ESC   &kp W          &kp R          &kp Y
                &kp Q         &hmr_l LALT I &hmr_l LCTRL A &hmr_l LSHFT O &kp GRAVE &kp LC(LA(DEL)) /**/ &kp PSCRN &kp K     &hmr_r RSHFT T &hmr_r RCTRL N &hmr_r RALT S &kp P
                &hmr_l LGUI E &kp X         &kp C          &kp V          &kp BSLH  &td_cp          /**/ &none     &kp G     &kp D          &kp M          &kp J         &hmr_r RGUI H
                &kp Z                       &mo 4          &lt 1 ENTER    &bspc_del                 /**/           &lt 3 TAB &lt 2 SPACE    &td_ek                       &kp B
            >;
        };

        number_layer {
            display-name = "Number";

            // -----------------------------------------------------------------------------------------
            //         |   %   |   -   |   /   |       |/*----------------*/| Num   |   7   |   8   |   9   |
            // |       |   =   |   +   |   *   |       |       |/**/|       |   4   |   5   |   6   |       |       |
            // | LGUI  |       |       |       |       |       |/**/| Copy  |   1   |   2   |   3   |       |       |
            // |       |/*---*/|       |       |       |/*----------------*/| , / . |   0   |       |/*---*/|       |

            bindings = <
                         &kp AMPS          &kp KP_MINUS         &kp KP_DIVIDE            &none       /**/       &kp KP_NUM &kp KP_N7 &kp KP_N8 &kp KP_N9
                &none    &hmr_l LALT EQUAL &hmr_l LCTRL KP_PLUS &hmr_l LSHFT KP_ASTERISK &none &none /**/ &none &none      &kp KP_N4 &kp KP_N5 &kp KP_N6 &none
                &kp LGUI &none             &none                &none                    &none &none /**/ &none &td_cp     &kp KP_N1 &kp KP_N2 &kp KP_N3 &none
                &none                      &none                &none                    &none       /**/       &td_cd     &kp KP_N0 &none               &none
            >;
        };

        navigation_layer {
            display-name = "Navigation";

            // -----------------------------------------------------------------------------------------
            //         | P-Up  |  Up   | Home  |       |/*----------------*/|       |       |       |       |
            // |       | Left  | Down  | Right |       |       |/**/|       |       | LSHFT | LCTRL | LAlt  |       |
            // | LGUI  | P-Down|       |  End  |       |       |/**/|       |       |       |       |       | LGUT  |
            // |       |/*---*/|       | CMENU |       |/*----------------*/|       |       |       |/*---*/|       |

            bindings = <
                       &kp PG_UP &kp UP   &kp HOME  &none       /**/       &none &none     &none     &none
                &none  &kp LEFT  &kp DOWN &kp RIGHT &none &none /**/ &none &none &kp LSHFT &kp LCTRL &kp LALT &none
                &trans &kp PG_DN &none    &kp END   &none &none /**/ &none &none &none     &none     &none    &kp LGUI
                &none            &none    &kp K_APP &none       /**/       &none &none     &none              &none
            >;
        };

        function_layer {
            display-name = "Function";

            // -----------------------------------------------------------------------------------------
            //         |  F2   |  F3   |  F4   |       |/*----------------*/|       |       |       |       |
            // |  F1   |  F6   |  F7   |  F8   |       |       |/**/|       |       | LSHFT | LCTRL | LAlt  |       |
            // |  F5   |  F10  |  F11  |  F12  |       |       |/**/|       |       |       |       |       | LGUT  |
            // |  F9   |/*---*/|       | CLCK  | SLCK  |/*----------------*/|       |       |       |/*---*/|       |

            bindings = <
                       &kp F2  &kp F3  &kp F4   &none          /**/       &none &none  &none  &none
                &kp F1 &kp F6  &kp F7  &kp F8   &none    &none /**/ &none &none &trans &trans &trans &none
                &kp F5 &kp F10 &kp F11 &kp F12  &none    &none /**/ &none &none &none  &none  &none  &trans
                &kp F9         &none   &kp CLCK &kp SLCK       /**/       &none &none  &none         &none
            >;
        };

        mod_layer {
            display-name = "Mod & DEVICE";

            // -----------------------------------------------------------------------------------------
            //         |       |       |       |       |/*----------------*/| BT CA | BT C  |       |       |
            // |       |       |       |       |       |       |/**/|       | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |
            // |       |       |       |       |       |       |/**/|       |       |       |       |       |       |
            // |       |/*---*/|       | Boot  | Reset |/*----------------*/| Reset | Boot  |       |       |/*---*/|

            bindings = <
                      &none &none &none       &none            /**/ &bt BT_CLR_ALL &bt BT_CLR   &none        &none
                &none &none &none &none       &none      &none /**/ &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                &none &none &none &none       &none      &none /**/ &none          &none        &none        &none        &none
                &none       &none &bootloader &sys_reset       /**/ &sys_reset     &bootloader  &none                     &none
            >;
        };
    };
};
